<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todolist.repositories.TodoMapper">

    <resultMap id="TodoItemResultMap" type="com.example.todolist.models.TodoItem">
        <id column="id" property="id"/>
        <result column="task" property="task"/>
        <result column="completed" property="completed"/>
    </resultMap>

    <select id="findAll" resultMap="TodoItemResultMap">
        SELECT id, task, completed
        FROM Tasks
    </select>

    <select id="findById" parameterType="Long" resultMap="TodoItemResultMap">
        SELECT id, task, completed
        FROM Tasks
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.example.todolist.models.TodoItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Tasks (task, completed)
        VALUES (#{task}, #{completed})
    </insert>

    <update id="update" parameterType="com.example.todolist.models.TodoItem">
        UPDATE Tasks
        SET task = #{task}, completed = #{completed}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM Tasks
        WHERE id = #{id}
    </delete>

    <insert id="RegisterUser" parameterType="com.example.todolist.models.User">
        INSERT INTO Users (username, password)
        VALUES (#{username}, #{password})
    </insert>

</mapper>